*{
    margin: 0px;
    padding: 0px;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("images/banner.png");
    background-position: center;
    background-size: cover;
    position: relative;   
}
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2% 6%;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    background: transparent;
    cursor: pointer;
    font-size: 13px;
    padding: 12px 34px;
    position: relative;

}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        font-size: 20px;
        columns: white;
        margin: 10px;
        cursor: pointer;
    }
    nav ul li{
        padding: 30px;
    }
}


.course{
    width: 80%;
    text-align: center;
    padding-top: 100px;
    margin: auto;
}
h1{
    font-size: 34px;
    font-weight: 500px;
}
p{
    color: #777;
    font: 15px;
    font-weight: 250px;
    padding: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
}
.row-col{
    background-color: #d8cdcd;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
    padding: 20px;
}
h3{
    font-weight: 500px;
}
.row-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}


.facilities{
    margin: auto;
    text-align: center;
    padding-top: 100px;
    width: 80%;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col h3{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}


.ctc{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("images/banner2.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

.ctc h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width: 700px){
    .ctc h1{
        font-size: 24px;
    }
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
.icon .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}